.back {
    background: radial-gradient(circle at center, #0b0b28, #000);
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Custom card styling with centered content */
  .custom-card {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    width: 1080px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  
  /* Main heading */
  h1 {
    margin: 10px;
    text-align: center;
  }
  
  .highlight-text {
    color: #a259ff;
    font-size: 82px;
  }
  
  .texth {
    color: white;
    font-size: 82px;
  }
  
  /* Form centering */
  form {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Button styling */
  button.btn-light {
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 10px;
  }
  
  /* Input Styling */
  input.form-control {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }
  
  input.form-control::placeholder {
    color: #aaa;
  }
  
  /* Outline styling for the input and button wrapper */
  .outline {
    border: 1px solid #555;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  